<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>


    <form method="post" action="/editUser/<%= Udata._id %>?_method=PATCH" enctype="multipart/form-data" class="ms-2 bg-dark text-white">

        <div class="modal-body">
            <div class="mb-3">
                <input name="ffname" type="text" class="form-control reg-form bg-dark text-white"
                    value="<%= Udata.ffname %>" id="fname">
            </div>
            <div class="mb-3">
                <input name="flname" type="text" class="form-control reg-form bg-dark text-white"
                    value="<%= Udata.flname %>" id="lname">
            </div>
            <div class="mb-3">
                <input name="fphone" type="tel" class="form-control reg-form bg-dark text-white" id="exampleInputEmail1"
                    value="<%= Udata.fphone %>">
            </div>
            <div class="mb-3">
                <label class="form-label text-white">Gender</label>
                <input class="form-check-input text-dark" type="radio" name="fgender" id="male" value="male"
                    <%=Udata.fgender==='male' ? 'checked' : '' %>>
                <label class="form-check-label text-white" for="male">Male</label>
                <input class="form-check-input text-dark" type="radio" name="fgender" id="female" value="female"
                    <%=Udata.fgender==='female' ? 'checked' : '' %>>
                <label class="form-check-label text-white" for="female">Female</label>
            </div>
            <div class="mb-3">
                <input name="fmail" type="email" class="form-control reg-form bg-dark text-white"
                    id="exampleInputEmail1" value="<%= Udata.fmail %>">
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <input type="hidden" name="_method" value="PATCH">
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>

    </form>


</body>

</html>


