<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/ae360af17e.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <!-- lineicons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" href="/css/adminpanel.css">
</head>
<body>
    <div class="wrapper d-flex">
        <!-- sidebar  -->
        <%-include("./partials/sidebar.ejs") %>
            <div class="main p-3 ">
                <!-- header  -->
                <%-include('./partials/header.ejs')%>
                    <main class="content px-3 py-2" id="main">
                        <div class="reg" id="rlist">
                            <div class="reg row justify-content-center ms-5 " id="rform ">
                                <div class="col-lg-5 col-md-8 col-sm-10">
                                    <!-- Message display -->
                                    <% if (message!='' ) { %>
                                        <div class="alert alert-warning alert-dismissible fade show col-md-12 mb-3 text-center"
                                            role="alert">
                                            <strong>
                                                <%= message %>
                                            </strong>
                                            <button type="button" class="btn-close" data-bs-dismiss="alert"
                                                aria-label="Close"></button>
                                        </div>
                                    <% } %>
                                        <form action="/Add_Region" method="post" class="">
                                            <h1 class="text-center mb-3">region</h1>
                                            <input type="hidden" name="User_id" value="<%= thisUser._id %>">
                                            <label for="State" class="form-label mt-2">State</label>
                                                <select class="form-select" id="State" name="State" required>
                                                    <option value="" selected>Select State</option>
                                                    <% indiaStates.forEach((state)=> { %>
                                                        <option value="<%= state.isoCode %>">
                                                            <%= state.name %>
                                                        </option>
                                                        <% }) %>
                                                </select>
                                            <label for="State_code" class="form-label mt-2">State_code</label>
                                            <input type="number" class="form-control" id="State_code"
                                                name="State_code" required>
                                                <div class="d-flex ">
                                                    <button type="submit" class="pagebtn btn btn-primary mt-3 "
                                                        id="submit">Add Region</button>
                                                </div>
                                        </form>
                                            <div class="table-responsive">
                                                <table class="table table-responsive mb-5 pb-5 mt-5">
                                                    <thead>
                                                        <tr>
                                                            <th>State</th>
                                                            <th>State_code</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% rData.forEach((i)=>{ %>
                                                            <tr>
                                                                <td>
                                                                    <%= i.State %>
                                                                </td>
                                                                <td>
                                                                    <%= i.State_code %>
                                                                </td>
                                                                <td>
                                                                    <form action="/delete_region" method="post">
                                                                        <input type="hidden" name="rid"
                                                                            value="<%= i._id %>">
                                                                        <button type="submit" id="delete"
                                                                            class="btn  btn-danger"><i
                                                                                class="bi bi-trash3"></i></button>
                                                                    </form>
                                                                </td>
                                                            </tr>
                                                            <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                </div>
                            </div>
                        </div>
                    </main>
                    <%-include('./partials/footer.ejs')%>
            </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#sidebar").toggleClass("expand");
            const hamburger = $("#toggle-btn");
            $("#toggle-btn").click(function () {
                $("#sidebar").toggleClass("expand");
            });
            let table = $('.table').DataTable({
                "aaSorting": [],
                paging: false,
                responsive: true,
                stateSave: true,
                ordering: false,
            });
        });
    </script>
</body>
</html>




